@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.header {
  width: 100%;
  padding: 2.8vw;
  top: 0;
}

.nav-links {
  padding-right: 2.8vw;
}

.logo {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
