@import url('https://fonts.googleapis.com/css2?family=Abel&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*:focus {
  box-shadow: none !important;
  /* This is to remove the blue outline that comes with Chakra UI, 
  but it's not good for accessibility, but it's so ugly so what we gonna do 🤷‍♂️.  */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 0.1px solid #b7b7b7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}

h1,
h2,
h3,
h4 {
  font-family: 'Abel', sans-serif;
}

p {
  font-family: 'Abel', sans-serif;
  text-align: justify;
}

li {
  font-family: 'Abel', sans-serif;
  text-align: justify;
}

.header {
  width: 100%;
  margin-bottom: 2.8vw;
  padding-top: 2.8vw;
  padding-right: 2.8vw;
  padding-left: 2.8vw;
  padding-bottom: 0.5vw;
  top: 0;
  position: fixed;
  backdrop-filter: blur(3px);
}

.footer {
  width: 100%;
  margin-top: 2.8vh;
  height: 40px;
  position: relative;
  bottom: 0;
  height: 18vh;
  background-color: gray.400;
  text-align: center;
}

.icons {
  margin: 0 39vw;
  padding: 0 7rem;
  padding-top: 2rem;
}

.nav-links {
  padding-right: 2.8vw;
  /* background-color: orange; */
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.main {
  padding: 0 3rem;
}

.profile {
  padding: 0 6vw;
  top: 11vw;
  position: fixed;
}

@media screen and (max-width: 765px) {
  .profile {
    position: relative;
  }
}

.projects-box {
  /* margin-top: 120px;
  margin-right: 120px; */
  height: 57vh;
  overflow: auto;
  overflow-x: hidden;
  /* background-color: orange; */
}

.project-box {
  transition: transform 0.2s;
}

.project-box:hover {
  transform: scale(1.01);
}

.projects-main {
  margin-top: 18vh;
  margin-bottom: 6vh;
  margin-right: 120px;
}

.projects-header {
  overflow: hidden;
  /* position: absolute; */
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.main-title h1 {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

.main-title p {
  text-align: center;
}

.project-title {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
  padding: 0 1rem;
}

.project-description {
  padding: 0 1rem;
}

.blog {
  margin-top: 18vh;
  padding: 0 15vw;
  top: 11vw;
}

.design-blog {
  margin-top: 18vh;
  padding: 0 6vw;
  top: 11vw;
}

.blog-title h1 {
  font-size: 50px;
  line-height: 95%;
  padding: 2vw 0;
}

.blog h2 {
  font-size: 25px;
  font-weight: bold;
}

.blog h3 {
  font-size: 20px;
  font-weight: bold;
}

.blog a:hover {
  text-decoration: underline;
}

.blog ul {
  padding-left: 40px;
}
